
.filter-container {
    height: 390px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px 30px;
    h4{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .range{
        margin-top: 15px;
        p{
            line-height: 10px;
            font-weight: 600;
        }
        input{
            width: 100%;
            -webkit-appearance: none;
            border: 0;
            &::-webkit-slider-runnable-track{
                background-color: #FF69B4;
                height: 2px;
                cursor: pointer;
                width: 100%;
                border-radius: 4px;
            }
            &::focus{
                outline: 0;
            }
            &::-webkit-slider-thumb{
                -webkit-appearance: none;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border: 1px solid #FF69B4;
                border-radius: 50%;
                margin-top: -4px;
            }
        }
    }
    .filter-section{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        label input{
            margin-left: -35px;
            margin-right: -25px;
            accent-color: #FF69B4;
        }
    }
}
